<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" type="text/css" src="./css_skeleton.css">
    <title>Title</title> -->
    <style>
        #general-info-container {
            float: left;
        }

        #general-info-container p {
            color: #222;
        }

        #accuracy-container {
            float:right;
            border: 1px solid black;
            padding: 3%;
            margin-top: 5%;
        }

        #description-container {
            clear:both;
            border: 1px solid black;
            padding: 3%;
            margin: 3%;
        }

        #button-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5%;
        }
    </style>
</head>

<body>
    <div id="content">
        <div id="general-info-container">
            <h1><%= model.name %></h1>
            <p>Date Created: <i><%= model.dateCreated %></i></p>
            <p>Last Modified: <i><%= model.lastModified %></i></p>
            <p>Number of Images: <i><%= model.numImages %></i></p>
        </div>

        <div id="accuracy-container">
            <h2><%= model.accuracy * 100 %> %</h2>
        </div>

        <div id="description-container">
            <u>Description</u>
            <p><%= model.description %></p>
        </div>

        <div id="button-container">
            <button>View Training Images</button>
        </div>
        <div id="button-container">
            <button>Test/Train New Image</button>
        </div>
    </div>
</body>

</html>